body {
    font-size: 12px;
}

header {
 position: absolute;
 width: 100%;
 height: 80px;
 background:#c1810b;
 border-bottom: 1px solid black;
}

 /*#logo {
 position: absolute;
 /* centraliza verticalmente
 top:0;
 bottom:0;
 left:200px;
 margin:auto;
}*/

#menu1 {
    /*background-color: rebeccapurple;*/
    height: 80px;
    position: relative;
    padding: 20px 0 0 0;
}

#menu {
    list-style-type: none;
    overflow: hidden;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    text-decoration: underline;
}

article {
 width: 100%;
 background: #877553;
}

#content {
 width: 100%;
 height: 350px;
 background: #877553;
}

/*.preto {
    width:100%;    
    background-image: url('https://i.ytimg.com/vi/3IbcsaIUj-w/maxresdefault.jpg');
}

.branco {
    width:100%;    
    background-image: url('https://i.ytimg.com/vi/3IbcsaIUj-w/maxresdefault.jpg');
}

.trufa {
    width:100%;
    background-image: url('https://i.ytimg.com/vi/3IbcsaIUj-w/maxresdefault.jpg');
}*/

footer {
 width: 100%;
 height: 50px;
 background: black;
 color: white;
 text-align: center;
}