<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../img/icon.png">
    <link href="../css/estilo.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" type="text/css" href="css/estilo.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title> ChocoIo </title>
</head>

<body>
    <header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <nav>
            <div class="row">
                <div class="container">
                    <div class="col-xs-1 col-xs-offset-1 col-sm-1 col-sm-offset-1 col-md-1 col-md-offset-2 col-lg-1 col-lg-offset-2">
                        <img id="logo" src="../img/icon.png" alt="Logo" style="width:80px;height:80px;">
                    </div>

                    <div id="menu1" class="col-xs-8 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1">
                        <ul id="menu">
                            <li><a href="../Views/index.html">Home</a></li>
                            <li><a href="../Views/product.html">Produtos</a></li>
                            <li><a href="../Views/contact.html">Contato</a></li>
                            <li><a href="about.html">Sobre</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div id="space" class="row">
            <div class="container">
                <div class="col-md-1 col-md-offset-5">
                <br />
                <h1>Contato</h1>
                <br />
                </div>
            </div>
        </div>


        <div class="row col-md-6 col-md-offset-1">
            <div class="container form-group">
                <div class="col-md-5">
                    <label>Nome</label>
                    <input type="text" id="txtNome" name="nome" class="form-control" required />
                </div>
            </div>

            <div class="container form-group">
                <div class="col-md-5">
                    <label>Email</label>
                    <input type="text" id="txtEmail" name="email" class="form-control" required />
                </div>
            </div>

            <div class="container form-group">
                <div class="col-md-5">
                    <label>Telefone</label>
                    <input type="text" id="txtTelefone" name="telefone" class="form-control" required />
                </div>
            </div>

            <div class="container form-group">
                <div class="col-md-5">
                    <label>Assunto</label>
                    <br />
                    <select>
                        <option>Cotações</option>
                        <option>Dúvidas</option>
                        <option>Reclamações</option>
                    </select>
                </div>
            </div>

            <div class="container form-group">
                <div class="col-md-5">
                    <label>Mensagem</label>
                    <textarea type="text" rows="5" cols="5" id="txtEmail" name="email" class="form-control" required style="resize:none"> </textarea>
                </div>
            </div>
        </div>

        <div id="space" class="row">
            <div class="container">
                <div class="col-md-1 col-md-offset-5">
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
    
    
    </article>



    <footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="container">
                <p>ChocoIo</p>
            </div>
        </div>
    </footer>

</body>







</html>
